profiles {
    // The following settings are used by the denglab cluster. Please change them to fit your cluster.
    // ex. binding path for singularity and charliecloud, queue name, clusterOptions, time limit, etc.
    singularity_denglab {
        singularity.runOptions = "--writable-tmpfs -B /project/genomics/jru/data2:/project/genomics/jru/data2"
    }
    charliecloud_denglab {
        charliecloud.runOptions = "-b /dss -b /gpfs"
    }
    slurm_denglab {
        process.executor       = 'slurm'
        process.cpus           = { check_max( 1 * task.attempt, 'cpus') }
        process.memory         = { check_max( 2.GB * task.attempt, 'memory') }
        process.queue          = 'cpu_p'
        process.clusterOptions = '-q cpu'
        process.time           = { check_max( 12.h * task.attempt, 'time') }
    }
    slurm_denglab2 {
        process.executor       = 'slurm'
        process.cpus           = { check_max( 1 * task.attempt, 'cpus') }
        process.memory         = { check_max( 2.GB * task.attempt, 'memory') }
        process.queue          = 'serial_std'
        process.clusterOptions = '--clusters=serial'
        process.time           = { check_max( 12.h * task.attempt, 'time') }
    }
}

params {
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '8.GB'
    max_cpus                   = 1
    max_time                   = '12.h'
}

process {
    withLabel: setup {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: ABRICATE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: ABUNDANCE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
    }

    withName: BACPHLIP {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
    }

    withName: CHECKV {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 20.GB * task.attempt, 'memory') }
    }

    withName: CONTIGLIB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: CONTIGLIB_CLUSTER {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
    }

    withName: DB_DRAM {
        cpus ={ check_max( 8 * task.attempt, 'cpus') }
        memory = { check_max( 30.GB * task.attempt, 'memory') }
    }

    withName: DB_KRAKEN2 {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
    }

    withName: DB_VIBRANT {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: DB_VIRSORTER2 {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: DB_VREFSEQ {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: DECONTAM {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: DRAMV {
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = { check_max( 50.GB * task.attempt, 'memory') }
    }

    withName: DVF {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
    }

    withName: EMAPPER {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 20.GB * task.attempt, 'memory') }
    }

    withName: FASTQC {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: FASTP {
        ext.args = "-f 15 -t 1 -F 15 -T 1 --detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: GENEPRED {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
    }

    withName: MAPPING2CONTIGS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
    }

    withName: MICOMPLETEDB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: MULTIQC {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
    }

    withName: NRSEQS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: PHAMB_RF {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: REPLIDEC {
        cpus = { check_max( 2 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: SPADES {
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = { check_max( 20.GB * task.attempt, 'memory') }
    }

    withName: TAXONOMY_MERGE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
    }

    withName: TAXONOMY_MMSEQS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 20.GB * task.attempt, 'memory') }
    }

    withName: TAXONOMY_VCONTACT {
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = { check_max( 20.GB * task.attempt, 'memory') }
    }

    withName: VAMB {
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: VIBRANT {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: VIRALHOST_IPHOP {
        cpus = { check_max( 12 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: VIRSORTER2 {
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: VOGDB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }

    withName: VRHYME {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
    }
}



// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
