profiles {
    singularity {
        singularity.runOptions = "--writable-tmpfs -B /project/genomics/jru/data2:/project/genomics/jru/data2"
    }
    slurm_denglab {
        process.executor       = 'slurm'
        process.cpus           = 1
        process.memory         = '8 GB'
        process.queue          = 'normal_q'
        process.time           = '120 h'
    }
    standard {
        process.executor       = 'local'
        process.cpus           = 1
        process.memory         = '1 GB'
    }
}

process {
    withName: FASTP {
        ext.args = "-f 15 -t 1 -F 15 -T 1 --detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
    }
  
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: DECONTAM {
        ext.args = 'maxindel=1 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=10 pigz=True untrim'
    }

    withName: SPADES {
        ext.args = "--meta"
    }

    withName: VRHYME {
        ext.args = "--method longest"
    }

    withName: BACPHLIP {
        ext.args = "--multi_fasta"
    }
}
