profiles {
    singularity {
        singularity.runOptions = "--writable-tmpfs -B /project/genomics/jru/data2:/project/genomics/jru/data2"
    }
    slurm_denglab {
        process.executor       = 'slurm'
        process.cpus           = 1
        process.memory         = '8 GB'
        process.queue          = 'cpu_p'
        process.clusterOptions = '-q cpu'
        process.time           = '120 h'
    }
    standard {
        process.executor       = 'local'
        process.cpus           = 1
        process.memory         = '4 GB'
    }
}

process {
    withName: FASTP {
        ext.args = "-f 15 -t 1 -F 15 -T 1 --detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
        cpus = 1
        memory = "10 GB"
    }
  
    withName: FASTQC {
        ext.args = '--quiet'
        cpus = 1
    }

    withName: DECONTAM {
        ext.args = 'maxindel=1 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=10 pigz=True untrim'
        cpus = 4
        memory = "80 GB"
    }

    withName: SPADES {
        ext.args = "--meta"
        cpus = 12
        memory = "100 GB"
    }

    withName: CONTIGLIB {
        cpus = 20
        memory = "120 GB"
    }

    withName: CHECKV {
        cpus = 20
        memory = "200 GB"
    }

    withName: CONTIGLIB_CLUSTER {
        cpus = 20
        memory = "120 GB"
    }

    withName: MAPPING2CONTIGS {
        cpus = 1
        memory = "10 GB"
    }

    withName: ABUNDANCE {
        cpus = 4
        memory = "40 GB"
    }

    withName: DVF {
        cpus = 1
        memory = "60 GB"
    }

    withName: VIBRANT {
        cpus = 8
        memory = "100 GB"
    }

    withName: VAMB {
        cpus = 8 
        memory = "120 GB"
    }

    withName: VRHYME {
        ext.args = "--method longest"
        cpus = 20
        memory = "120 GB"
    }

    withName: NRSEQS {
        cpus = 12
        memory = "120 GB"
    }

    withName: MICOMPLETEDB {
        cpus = 8
        memory = "80 GB"
    }

    withName: VOGDB {
        cpus = 4
        memory = "40 GB"
    }

    withName: EMAPPER {
        cpus = 20
        memory = "200 GB"
    }

    withName: PHAMB_RF {
        cpus = 8
        memory = "80 GB"
    }

    withName: VIRSORTER2 {
        cpus = 20
        memory = "200 GB"
    }

    withName: DRAMV {
        cpus = 20
        memory = "200 GB"
    }

    withName: TAXONOMY_VCONTACT {
        cpus = 20
        memory = "200 GB"
    }

    withName: TAXONOMY_MMSEQS {
        cpus = 20
        memory = "200 GB"
    }

    withName: VIRALHOST_IPHOP {
        cpus = 20
        memory = "200 GB"
    }

    withName: BACPHLIP {
        ext.args = "--multi_fasta"
        cpus = 20
        memory = "120 GB"
    }

    withName: REPLIDEC {
        cpus = 20
        memory = "200 GB"
    }
}
