/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ViroProfiler Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                         = null
    outdir                        = "output"
    mode                          = "all"                // ["setup", "fastqc", "fastp", "all"]
    input_contigs                 = false                // false or path to contigs file
    reads_type                    = "raw"                // ["raw", "clean"]

    // =============================  Database  ====================================
    db                            = "${HOME}/viroprofiler"

    // =============================  ViroProfiler modules  ====================================
    use_abricate                  = false
    use_decontam                  = false
    use_eggnog                    = false
    use_dram                      = true
    use_iphop                     = true
    use_kraken2                   = false
    use_phamb                     = false

    // =============================  Decontamination  =============================
    decontam                      = null
    decontam_min_similarity       = 0.95
    // contamref_idx              = "/project/genomics/jru/data2/db/viroprofiler/contamination_refs/hg19/ref"
    contamref_idx                 = "${HOME}/viroprofiler/contamination_refs/hg19/ref"

    // =============================  Contig library  ==============================
    assembler                     = "spades"
    assemblies                    = "scaffolds"   // ["contigs","scaffolds"]
    contig_minlen                 = 3000
    contig_cluster_min_similarity = 95            // 0-100
    contig_cluster_min_coverage   = 85            // 0-100

    // =============================   Gene library   ==============================
    prot_cluster_min_similarity   = 0.7    // Minimum similarity of protein AA seqs in the same cluster
    prot_cluster_min_coverage     = 0.9    // Minimum similarity of protein AA seqs in the same cluster
    gene_cluster_min_similarity   = 0.9    // Minimum similarity of gene DNA seqs in the same cluster
    gene_cluster_min_coverage     = 0.9    // Minimum similarity of gene DNA seqs in the same cluster

    // =============================  Binning  =====================================
    binning                       = false   // "phamb", "vrhyme" or false
    binning_minlen_contig         = 5000
    binning_minlen_bin            = 5000
    dvf_qvalue                    = 0.1

    // =============================  Viral detection  =============================
    // virsorter2_groups          = "dsDNAphage,NCLDV,RNA,ssDNA,lavidaviridae"
    virsorter2_groups             = "dsDNAphage"

    // =============================  Taxonomy  ====================================
    contig_minlen_vcontact2       = 10000
    pc_inflation                  = 1.5
    vc_inflation                  = 1.5
    taxa_db_source                = "NCBI"

    // =============================  Replication cycle  ===========================
    replicyc                      = "bacphlip"    // ["replidec","bacphlip"]

    // kraken2 + bracken
    kraken2_db                    = "viral"
    kraken2_clean                 = true
    save_output_fastqs            = false
    save_reads_assignment         = false

    // References
    genome                        = null
    igenomes_base                 = 's3://ngi-igenomes/igenomes'
    igenomes_ignore               = false

    // MultiQC options
    multiqc_config                = null
    multiqc_title                 = null
    max_multiqc_email_size        = '25.MB'

    // Other options
    tracedir                      = "${params.outdir}/pipeline_info"
    publish_dir_mode              = 'copy'
    email                         = null
    email_on_fail                 = null
    plaintext_email               = false
    monochrome_logs               = false
    help                          = false
    validate_params               = true
    show_hidden_params            = false
    schema_ignore_params          = 'genomes'
    enable_conda                  = false

    // Config options
    custom_config_version         = 'master'
    custom_config_base            = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description    = null
    config_profile_contact        = null
    config_profile_url            = null
    config_profile_name           = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                    = '8.GB'
    max_cpus                      = 1
    max_time                      = '12.h'

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
//try {
//    includeConfig "${params.custom_config_base}/nfcore_custom.config"
//} catch (Exception e) {
//    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
///}


profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    standard {
        process.executor       = 'local'
        process.cpus           = 1
        process.memory         = 1.GB
    }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    test { includeConfig 'conf/test.config' }
    test_denglab {
        includeConfig 'conf/test.config'
        includeConfig 'custom.config'
    }

    // Custom profiles for the denglab
    charliecloud_denglab {
        charliecloud.runOptions = "-b /dss -b /gpfs"
    }
    slurm_denglab2 {
        process.executor       = 'slurm'
        process.cpus           = { check_max( 1 * task.attempt, 'cpus') }
        process.memory         = { check_max( 2.GB * task.attempt, 'memory') }
        process.queue          = 'serial_std'
        process.clusterOptions = '--clusters=serial'
        process.time           = { check_max( 12.h * task.attempt, 'time') }
    }
}


// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

process {
    withLabel: setup {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 8.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: ABRICATE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: ABUNDANCE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: BACPHLIP {
        ext.args = "--multi_fasta"
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: CHECKV {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 10.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: CONTIGLIB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: CONTIGLIB_CLUSTER {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DB_DRAM {
        cpus ={ check_max( 2 * task.attempt, 'cpus') }
        memory = { check_max( 10.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: DB_KRAKEN2 {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DB_VIBRANT {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DB_VIRSORTER2 {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DB_VREFSEQ {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DECONTAM {
        ext.args = 'maxindel=1 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=10 pigz=True untrim'
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: DRAMV {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 6.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: DVF {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 20.h * task.attempt, 'time') }
    }

    withName: EMAPPER {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 10.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: FASTQC {
        ext.args = '--quiet'
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: FASTP {
        ext.args = "--detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: GENEPRED {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 2.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: MAPPING2CONTIGS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: MICOMPLETEDB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: MULTIQC {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: NRSEQS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: PHAMB_RF {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: REPLIDEC {
        cpus = { check_max( 2 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: SPADES {
        ext.args = "--meta"
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 10.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: TAXONOMY_MERGE {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 1.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: TAXONOMY_MMSEQS {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 6.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: TAXONOMY_VCONTACT {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 10.GB * task.attempt, 'memory') }
        time = { check_max( 30.h * task.attempt, 'time') }
    }

    withName: VAMB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 6.GB * task.attempt, 'memory') }
        time = { check_max( 20.h * task.attempt, 'time') }
    }

    withName: VIBRANT {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 20.h * task.attempt, 'time') }
    }

    withName: VIRALHOST_IPHOP {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 6.GB * task.attempt, 'memory') }
        time = { check_max( 40.h * task.attempt, 'time') }
    }

    withName: VIRSORTER2 {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 40.h * task.attempt, 'time') }
    }

    withName: VOGDB {
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }

    withName: VRHYME {
        ext.args = "--method longest"
        cpus = { check_max( 1 * task.attempt, 'cpus') }
        memory = { check_max( 4.GB * task.attempt, 'memory') }
        time = { check_max( 12.h * task.attempt, 'time') }
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'ViroProfiler'
    author          = 'Jinlong Ru'
    homePage        = 'https://github.com/deng-lab/viroprofiler'
    description     = 'A containerized bioinformatics pipeline for viral metagenomic data analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.04.0'
    version         = '0.2.4'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
