/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus = 1
        memory = "10 GB"
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withLabel: setup {
        cpus = 1
        memory = "1 GB"
    }

    withLabel: viroprofiler_base {
        container = 'denglab/viroprofiler-base'
    }

    withLabel: viroprofiler_binning {
        container = 'denglab/viroprofiler-binning'
    }

    withLabel: viroprofiler_geneannot {
        container = 'denglab/viroprofiler-geneannot'
    }

    withLabel: viroprofiler_host {
        container = 'denglab/viroprofiler-host'
    }

    withLabel: viroprofiler_replicyc {
        container = 'denglab/viroprofiler-replicyc'
    }

    withLabel: viroprofiler_taxa {
        container = 'denglab/viroprofiler-taxa'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FASTP {
        cpus = 4
        memory = "50 GB"
    }

    withName: DECONTAM {
        ext.args = 'maxindel=1 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=10 pigz=True untrim'
        cpus = 4
        memory = "80 GB"
    }

    withName: SPADES {
        ext.args = "--meta"
        cpus = 4
        memory = "100 GB"
    }

    withName: CONTIGLIB {
        cpus = 4
        memory = "40 GB"
    }

    withName: CHECKV {
        cpus = 12
        memory = "120 GB"
    }

    withName: CONTIGLIB_CLUSTER {
        cpus = 12
        memory = "80 GB"
    }

    withName: MAPPING2CONTIGS {
        cpus = 4
        memory = "80 GB"
    }

    withName: ABUNDANCE {
        cpus = 2
        memory = "40 GB"
    }

    withName: DVF {
        cpus = 1
        memory = "20 GB"
    }

    withName: VAMB {
        cpus = 12
        memory = "120 GB"
    }

    withName: VRHYME {
        cpus = 8
        memory = "120 GB"
    }

    withName: GENEPRED {
        cpus = 1
        memory = "10 GB"
    }

    withName: NRSEQS {
        cpus = 4
        memory = "80 GB"
    }

    withName: MICOMPLETEDB {
        cpus = 8
        memory = "80 GB"
    }

    withName: VOGDB {
        cpus = 4
        memory = "40 GB"
    }

    withName: EMAPPER {
        cpus = 8
        memory = "180 GB"
    }

    withName: ABRICATE {
        cpus = 1
        memory = "40 GB"
    }

    withName: PHAMB_RF {
        cpus = 8
        memory = "80 GB"
    }

    withName: VIRSORTER2 {
        cpus = 18
        memory = "200 GB"
    }

    withName: DRAMV {
        cpus = 22
        memory = "200 GB"
    }

    withName: TAXONOMY_VCONTACT {
        cpus = 22
        memory = "200 GB"
    }

    withName: TAXONOMY_MMSEQS {
        cpus = 4
        memory = "120 GB"
    }

    withName: TAXONOMY_MERGE {
        cpus = 1
        memory = "20 GB"
    }

    withName: VIRALHOST_IPHOP {
        cpus = 20
        memory = "300 GB"
    }

    withName: BACPHLIP {
        ext.args = "--multi_fasta"
        cpus = 4
        memory = "80 GB"
    }

    withName: REPLIDEC {
        cpus = 8
        memory = "80 GB"
    }

    withName: MULTIQC {
        cpus = 1
        memory = "10 GB"
    }
}
