/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus = 1
        memory = "1 GB"
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withLabel: viroprofiler_base {
        container = 'denglab/viroprofiler-base:v0.2'
    }

    withLabel: viroprofiler_abundance {
        container = 'denglab/viroprofiler-abundance:v0.2'
    }

    withLabel: viroprofiler_bracken {
        container = 'denglab/viroprofiler-bracken:v0.2'
    }

    withLabel: viroprofiler_vibrant {
        container = 'denglab/viroprofiler-vibrant:v0.2'
    }

    withLabel: viroprofiler_binning {
        container = 'denglab/viroprofiler-binning:v0.2'
    }

    withLabel: viroprofiler_geneannot {
        container = 'denglab/viroprofiler-geneannot:v0.2'
    }

    withLabel: viroprofiler_host {
        container = 'denglab/viroprofiler-host:v0.2'
    }

    withLabel: viroprofiler_replicyc {
        container = 'denglab/viroprofiler-replicyc:v0.1'
    }

    withLabel: viroprofiler_taxa {
        container = 'denglab/viroprofiler-taxa:base'
    }

    withLabel: viroprofiler_virsorter2 {
        container = 'denglab/viroprofiler-base:v0.1'
    }

    withLabel: viroprofiler_vpfkit {
        container = 'denglab/viroprofiler-viewer'
    }
}
