/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run deng-lab/viroprofiler -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '24.h'

    // Input data for minimal test
    input = "https://raw.githubusercontent.com/deng-lab/viroprofiler/main/assets/samplesheet.csv"
    outdir = "output"
    mode = "all"

    // =============================  Database  ====================================
    db = "${HOME}/viroprofiler"

    // =============================  Decontamination  =============================
    decontam = null
    decontam_min_similarity = 0.95
    contamref_idx = "${HOME}/viroprofiler/contamination_refs/hg19/ref"


    // =============================  Contig library  ==============================
    assembler = "spades"
    assemblies = "scaffolds"  // [contigs, scaffolds]
    contig_minlen = 3000
    contig_cluster_min_similarity = 0.95
    contig_cluster_min_coverage = 0.85

    // =============================   Gene library   ==============================
    prot_cluster_min_similarity = 0.7    // Minimum similarity of protein AA seqs in the same cluster
    prot_cluster_min_coverage = 0.9    // Minimum similarity of protein AA seqs in the same cluster
    gene_cluster_min_similarity = 0.9    // Minimum similarity of gene DNA seqs in the same cluster
    gene_cluster_min_coverage = 0.9   // Minimum similarity of gene DNA seqs in the same cluster

    // =============================  Binning  =====================================
    binning = null   // "phamb", "vrhyme" or null
    binning_minlen_contig = 3000
    binning_minlen_bin = 3000
    dvf_qvalue = 0.1


    // =============================  Viral detection  =============================
    // virsorter2_groups = "dsDNAphage,NCLDV,RNA,ssDNA,lavidaviridae"
    virsorter2_groups = "dsDNAphage"

    // =============================  Taxonomy  ====================================
    contig_minlen_vcontact2 = 10000
    pc_inflation = 1.5
    vc_inflation = 1.5
    taxa_db_source = "NCBI"

    // =============================  Replication cycle  ===========================
    replicyc = "bacphlip"    // "replidec" or "bacphlip"
}
