profiles {
    singularity {
        singularity.runOptions = "--writable-tmpfs -B /public/home/hpc4011032"
    }
    slurm_csu {
        process.executor       = 'slurm'
        process.cpus           = 1
        process.memory         = '8 GB'
        process.queue          = 'cpuQ'
        process.clusterOptions = '-q cpuq'
        process.time           = '60 h'
    }
    standard {
        process.executor       = 'local'
        process.cpus           = 1
        process.memory         = '4 GB'
    }
}

process {
    withName: FASTP {
        ext.args = "-f 5 -t 3 -F 5 -T 3 --detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
        cpus = 1
        memory = "10 GB"
    }
  
    withName: FASTQC {
        ext.args = '--quiet'
        cpus = 1
    }

    withName: DECONTAM {
        ext.args = 'maxindel=1 bwr=0.16 bw=12 quickmatch fast minhits=2 qtrim=rl trimq=10 pigz=True untrim'
        cpus = 4
        memory = "80 GB"
    }

    withName: SPADES {
        ext.args = "--meta"
        cpus = 12
        memory = "100 GB"
    }

    withName: CONTIGLIB {
        cpus = 20
        memory = "120 GB"
    }

    withName: CHECKV {
        cpus = 12
        memory = "100 GB"
    }

    withName: CONTIGLIB_CLUSTER {
        cpus = 4
        memory = "40 GB"
    }

    withName: MAPPING2CONTIGS2 {
        cpus = 1
        memory = "10 GB"
    }

    withName: ABUNDANCE {
        cpus = 1
        memory = "30 GB"
    }
}
